<!-- menu.component.html -->
<h1>Menú</h1>
<h3>Tiempo: {{time}}</h3>
<h3>{{valorescrito}}</h3>
<ul>
  <app-elemento-menu
    *ngFor="let dato of listaDatos; let i = index"
    [texto]="dato.texto"
    [value]="dato.value"
    [ngClass]="{ 'blanco': isEven(i)}"
    (seleccion)="onSelect($event)"
  ></app-elemento-menu>
</ul>
<input
  [(ngModel)]="valorescrito"
  (ngModelChange)="onModelChange()"
/>

